.abc {
    overflow: hidden;
    text-align: center;
  }
  
  .abc:before,
  .abc:after {
    background-color: #000;
    content: "";
    display: inline-block;
    height: 1px;
    position: relative;
    vertical-align: middle;
    width: 50%;
  }
  
  .abc:before {
    right: 0.5em;
    margin-left: -50%;
  }
  
  .abc:after {
    left: 0.5em;
    margin-right: -50%;
  }